{% extends 'signin/base.html' %}
{% load static %}
{% block content %}
<main class="form-signin">
  <form action="{% url 'signin' %}" method="POST">
    <img class="mb-4" src="{% static 'img/giftitforward.png' %}" width=100%>
    {% csrf_token %}
    {{ form }}
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">Don't have an account with us?</p>
    <p class="text-muted">Click <a href="{% url 'signup' %}">here</a> to sign up</p>
  </form>
</main>
{% endblock %}