{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between bd-highlight mb-3">
  <div class="bd-highlight">
    <h3>Teams</h3>
  </div>
  <div class="bd-highlight">
    <a href="">
      <button id="upload-excel" type="button" class="btn btn-warning float-right"><span><strong>Add Team</strong></span></button>
    </a>
  </div>
</div>

<div class="d-flex flex-row-reverse bd-highlight mb-2">
  <form class="form-inline my-2 my-md-0">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
  </form>
  <img src="{% static 'img/search.svg' %}" class="searchicon">
</div>

<table class="table table-striped">
  <thead class="thead-green">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Team members</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'view_team' team.id %}">{{ team.name }}</a></td>
        <td>{{ team.person_set.count }}</td>
      </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>

</div> <!-- /container -->

<div class="d-flex justify-content-center mb-2">
<nav aria-label="Page navigation example">
<ul class="pagination">
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
</nav>
{% endblock %}